aiofiles==23.1.0
google.cloud==0.34.0
fastapi==0.99.1
firebase-admin==6.2.0
google-api-core==2.11.1
google-api-python-client==2.92.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.3
google-cloud-firestore==2.11.1
google-cloud-storage==2.10.0
google-cloud-vision==3.4.4
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.1
grpcio==1.56.0
vertexai==0.0.1
starlette==0.27.0
google-cloud-aiplatform==1.27.1
uvicorn==0.22.0

requests
concurrent.futures
pdfplumber
time
io
import base64
from googleapiclient.discovery import build
import html2text
import re
from bs4 import BeautifulSoup
import praw
import openai
import numpy as np
import tiktoken
import os
import asyncio
from telegram import Bot
import google.cloud.aiplatform as aiplatform
from vertexai.preview.language_models import ChatModel, InputOutputTextPair, ChatMessage
from fastapi.openapi.docs import get_swagger_ui_html, get_redoc_html
import vertexai
import json
from google.oauth2 import service_account
from ast import literal_eval
from vertexai.language_models import TextGenerationModel
from vertexai.preview.language_models import TextEmbeddingModel
from boost_query import get_boosted_query
from search import search
from PIL import Image
import streamlit as st
import concurrent.futures
from markdown import markdown
from datetime import datetime, timedelta
import streamlit.components.v1 as components
import validators
from vertexai.preview.language_models import ChatModel, InputOutputTextPair, ChatMessage, TextGenerationModel
